.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

.button-menu {
    grid-area: menu;
    position: relative;
    width: 30px;
    height: 15px;
    cursor: pointer;
}

.button-menu span {
    display: block;
    position: relative;
    color: var(--white);

}

.button-menu span a:hover {
    background-color: #111;
    color: #fff;
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    color: #666;
    background: #fff;
    font: 600 14px/20px 'Open Sans', sans-serif;
    font-family: 'SUITE-Regular';
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 100px 70px 50px 70px;
    background: #fff;
    top: -5px;
    text-align: left;
}


/* scroll */
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #000;
}

html::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 20px;
}

html::-webkit-scrollbar-button {
    display: none;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
    margin-top: 20px;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
    cursor: pointer;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 25px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    font-family: 'SUITE-Regular';
}

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
    color: #111;
    border-color: #111;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .Check_group {
    display: flex;
    justify-content: space-between;
}

.login-form .Check_group .btn {
    width: 17%;
    color: #aaa;
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #111;
    cursor: pointer;
}

.login-form .Check_group,
.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #111;
    display: block;
}

.login-form .Check_group .input {
    width: 80%;
    color: #111;
    display: block;
}

.login-form .group .input,
.login-form .Check_group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #ddd;
    font-size: 14px;
}

.login-form .group input[data-type="password"] {
    -webkit-text-security: circle;
}

.login-form .label,
.login-form .group .label {
    color: #111;
    font-size: 14px;
    font-weight: 300;
}

.login-form .group .button {
    background: #111;
    color: #fff;
    font-weight: 1000;
    font-family: 'SUITE-Regular';
    font-size: 14px;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 15px 20px;
    transition: all 0.5s;
}

.login-form .group .button:hover {
    background: #666;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: #66666680;
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #111;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
    color: #fff;
}

.login-form .group .check:checked+label .icon {
    background: #666;
}

.login-form .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
    transform: rotate(0);
}

.foot-lnk {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-lnk a {
    color: #666;
    font-family: 'SUITE-Regular';
    transition: all 0.3s;
}

.foot-lnk a:hover {
    color: #111;
}

#loginButton,
#logoutButton {
    color: #fff;
    writing-mode: vertical-rl;
    text-transform: uppercase;
}

#loginButton:hover,
#logoutButton:hover {
    border-left: 1px solid #fff;
}

.logo {
    font-family: meno-banner, serif;
    font-size: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #111;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 50px;
    font-weight: 1000;
}

.close {
    color: #111;
    background-color: #fff;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 3px 8px;
    position: absolute;
    top: 18px;
    right: 12px;
    border: none;
}

.close:hover,
.close:focus {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

/* 회원가입 중복 글자 */
#userIdResult {
    counter-reset: red;
}