
/* navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* padding 추가로 더 나은 간격 조절 */
    background-color: #111;
    padding: 3rem 0;
}

.tab {
    display: flex;
    flex-grow: 1;
    /* tab에 자유로운 공간 할당 */
    max-width: 100%;
    /* tab 최대 너비 제한 */
}

.tab button {
    background-color: var(--white600);
    color: var(--black100);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 15px;
    font-family: var(--fontN);
    font-weight: 600;
    transition: all 0.3s;
}

.tab button.active {
    background-color: var(--white);
}